<div class="summonerspellset-info-container">
    <h1>{{summonerSpellSet.summonerSpellSetName}}</h1>
    <hr>
    
    <h2>Summoner Spells:</h2>

    <div class="row">
        <div class="column">
            <p>{{summonerSpellName1}}</p>
            <img id="summonerspell1" alt="summonerspell1" [src]="summonerSpellSrc1" [title]="summonerSpellName1">
        </div>

        <div class="column">
            <p>{{summonerSpellName2}}</p>
            <img id="summonerspell2" alt="summonerspell2" [src]="summonerSpellSrc2" [title]="summonerSpellName2">
        </div>
    </div>


    <h2>Champion:</h2>
    <p>{{champName}}</p>
    <img id="champSquare" alt="champSquare" [src]="champSrc" [title]="champName">

    <div class="itemSetButton">
        <button type="button" class="setButton" (click)="deleteSummonerSpellSet(summonerSpellSet.summonerSpellSetId)"> 
            Delete
        </button> 

        <button type="button" class="setButton" [routerLink]="['/updatesummonerspellset', summonerSpellSet.summonerSpellSetId]"> 
            Update
        </button> 
    </div>
</div>