.summonerspell-info-container {
    border-left: 7px solid #0c1420; 
    border-right: 7px solid #0c1420; 
    width: 50%;
    margin: 5vmin;
    padding: 5vmin;
}

p {
    font-size: 2.5vmin;
}

/* .flip-card {
    background-color: transparent;
    width: 35vmin;
    height: 35vmin;
    margin: 10vmin;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    color: white;
    background-color: #0E1726;
  }
  
  .flip-card-back {
    background-color: #0E1726;
    color: white;
    transform: rotateY(180deg);
  }

  img {
      width: 50%;
      height: 50%;
  } */