<div class="image-container">
    <img id="darius" alt="darius" class="splash" src="./assets/images/splash/darius.jpg">
    <p class="caption">Rune Sets</p>
</div>

<a routerLink='/createruneset'> 
    <button type="button"> 
        Create Rune Set
    </button> 
</a>

<a routerLink='/deleteruneset'> 
    <button type="button"> 
        Delete Rune Set
    </button> 
</a>

<a routerLink='/updateruneset'> 
    <button type="button"> 
        Update Rune Set
    </button> 
</a>

<app-runeset *ngFor="let runeSet of runeSets" [runeSet]="runeSet">
</app-runeset>
