<div class="image-container">
    <img id="darius" alt="darius" class="splash" src="https://wallpapercave.com/wp/wp6208005.jpg">
    <p class="caption">Rune Sets</p>
</div>

<a href='/createruneset'> 
    <button type="button"> 
        Create Rune Set
    </button> 
</a>

<a href='/deleteruneset'> 
    <button type="button"> 
        Delete Rune Set
    </button> 
</a>

<a href='/updateruneset'> 
    <button type="button"> 
        Update Rune Set
    </button> 
</a>

<app-runeset *ngFor="let runeSet of runeSets" [runeSet]="runeSet">
</app-runeset>
