<br>
<div class="update-input-container">
    
    <h1>Update an Item Set</h1>
    
    <div class="row">
        <div class="column">
            <p>Item Set ID</p>
            <input type="text" [(ngModel)]="itemSetId">
        </div>
        <div class="column">
            <p>Item Set Name</p>
            <input type="text" [(ngModel)]="itemSetName">
        </div>
        <div class="column">
            <p>Champion</p>
            <select name="champions" [(ngModel)]="championId">
            <option value="1">Aatrox</option>
            <option value="2">Ahri</option>
            <option value="3">Akali</option>
            <option value="4">Alistar</option>
            <option value="5">Amumu</option>
            <option value="6">Anivia</option>
            <option value="7">Annie</option>
            <option value="8">Aphelios</option>
            <option value="9">Ashe</option>
            <option value="10">Aurelion Sol</option>
            <option value="11">Azir</option>
            <option value="12">Bard</option>
            <option value="13">Blitzcrank</option>
            <option value="14">Brand</option>
            <option value="15">Braum</option>
            <option value="16">Caitlyn</option>
            <option value="17">Camille</option>
            <option value="18">Cassioppeia</option>
            <option value="19">Corki</option>
            <option value="20">Darius</option>
            <option value="21">Diana</option>
            <option value="22">Dr. Mundo</option>
            <option value="23">Draven</option>
            <option value="24">Ekko</option>
            <option value="25">Elise</option>
            <option value="26">Evelynn</option>
            <option value="27">Ezreal</option>
            <option value="28">Fiddlesticks</option>
            <option value="29">Fiora</option>
            <option value="30">Fizz</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <p>Item 1</p>
            <input id="item1" type="number">
        </div>
        <div class="column">
            <p>Item 2</p>
            <input id="item2" type="number">
        </div>
        <div class="column">
            <p>Item 3</p>
            <input id="item3" type="number">
        </div>
    </div>

    <div class="row">
        <div class="column">
            <p>Item 4</p>
            <input id="item4" type="number">
        </div>
        <div class="column">
            <p>Item 5</p>
            <input id="item5" type="number">
        </div>
        <div class="column">
            <p>Item 6</p>
            <input id="item6" type="number">
        </div>
    </div>

    <br>

    <button (click)="updateItemSet()" id="updateButton">Update</button>
</div>