<br>
<div class="update-input-container">
    
    <h1>Update a Summoner Spell Set</h1>

    <div class="row">
        <div class="column">
            <p>Summoner Spell Set Name</p>
            <input id="summSpellSetName" type="text" [(ngModel)]="summonerSpellSetName">
        </div>
        <div class="column">
            <p>Champion</p>
            <select name="champions" id="championId">
                <option *ngFor="let champion of championsList" value="{{champion.championId}}">
                    {{champion.championName}}
                </option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <p>Summoner Spell 1</p>
            <select name="summonerspells" id="summonerSpell1">
                <option *ngFor="let summonerspell of summonerSpellsList" value="{{summonerspell.summonerSpellId}}">
                    {{summonerspell.summonerSpellName}}
                </option>
            </select>
        </div>
        <div class="column">
            <p>Summoner Spell 2</p>
            <select name="summonerspells" id="summonerSpell2">
                <option *ngFor="let summonerspell of summonerSpellsList" value="{{summonerspell.summonerSpellId}}">
                    {{summonerspell.summonerSpellName}}
                </option>
            </select>      
        </div>
    </div>

    <br>

    <button (click)="updateSummonerSpellSet()" id="updateButton">Update</button>
</div>