<br>
<div class="update-input-container">
    
    <h1>Update a Summoner Spell Set</h1>

    <div class="row">
        <div class="column">
            <p>Summoner Spell Set Name</p>
            <input id="summSpellSetName" type="text" [(ngModel)]="summonerSpellSetName">
        </div>
        <div class="column">
            <p>Champion</p>
            <select name="champions" id="championId">
                <option *ngFor="let champion of championsList" value="{{champion.championId}}">
                    {{champion.championName}}
                </option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <p>Summoner Spell 1</p>
            <select name="summonerspells" id="summonerSpell1">
                <option value="1">Heal</option>
                <option value="2">Ghost</option>
                <option value="3">Barrier</option>
                <option value="4">Exhaust</option>
                <option value="5">Flash</option>
                <option value="6">Teleport</option>
                <option value="7">Smite</option>
                <option value="8">Cleanse</option>
                <option value="9">Ignite</option>
            </select>        
        </div>
        <div class="column">
            <p>Summoner Spell 2</p>
            <select name="summonerspells" id="summonerSpell2">
                <option value="1">Heal</option>
                <option value="2">Ghost</option>
                <option value="3">Barrier</option>
                <option value="4">Exhaust</option>
                <option value="5">Flash</option>
                <option value="6">Teleport</option>
                <option value="7">Smite</option>
                <option value="8">Cleanse</option>
                <option value="9">Ignite</option>
            </select>        
        </div>
    </div>

    <br>

    <button (click)="updateSummonerSpellSet()" id="updateButton">Update</button>
</div>