<div class="image-container">
    <img id="pantheon" alt="pantheon" class="splash" src="./assets/images/splash/pantheon.jpg">
    <p class="caption">Summoner Spell Sets</p>
</div>

<a routerLink='/createsummonerspellset'> 
    <button type="button"> 
        Create Summoner Spell Set
    </button> 
</a>

<a routerLink='/deletesummonerspellset'> 
    <button type="button"> 
        Delete Summoner Spell Set
    </button> 
</a>

<a routerLink='/updatesummonerspellset'> 
    <button type="button"> 
        Update Summoner Spell Set
    </button> 
</a>

<app-summonerspellset *ngFor="let summonerSpellSet of summonerSpellSets" [summonerSpellSet]="summonerSpellSet">
</app-summonerspellset>