<div class="image-container">
    <img id="pantheon" alt="pantheon" class="splash" src="https://wallpapercave.com/wp/wp4748913.jpg">
    <p class="caption">Summoner Spell Sets</p>
</div>

<a href='/createsummonerspellset'> 
    <button type="button"> 
        Create Summoner Spell Set
    </button> 
</a>

<a href='/deletesummonerspellset'> 
    <button type="button"> 
        Delete Summoner Spell Set
    </button> 
</a>

<a href='/updatesummonerspellset'> 
    <button type="button"> 
        Update Summoner Spell Set
    </button> 
</a>

<app-summonerspellset *ngFor="let summonerSpellSet of summonerSpellSets" [summonerSpellSet]="summonerSpellSet">
</app-summonerspellset>