<div class="image-container">
    <img id="pantheon" alt="pantheon" class="splash" src="./assets/images/splash/Pantheon.jpg">
    <p class="caption">Summoner Spell Sets</p>
</div>

<div class="setButtons">
    <a routerLink='/createsummonerspellset'> 
        <button type="button" class="setButton"> 
            Create Summoner Spell Set
        </button> 
    </a>

    <a routerLink='/deletesummonerspellset'> 
        <button type="button" class="setButton"> 
            Delete Summoner Spell Set
        </button> 
    </a>

    <a routerLink='/updatesummonerspellset'> 
        <button type="button" class="setButton"> 
            Update Summoner Spell Set
        </button> 
    </a>
</div>

<app-summonerspellset *ngFor="let summonerSpellSet of summonerSpellSets" [summonerSpellSet]="summonerSpellSet">
</app-summonerspellset>