<div class="results-container">
    <div class="search">
        <p class="summonerSpellName">Enter Summoner Spell to search by ID</p>
        <select name="summonerspells" id="summonerSpellId">
            <option *ngFor="let summSpellOption of summonerSpellsList" value="{{summSpellOption.summonerSpellId}}">
                {{summSpellOption.summonerSpellName}}
            </option>
        </select>

        <button (click)="search()" class="searchButton">Search</button>
    </div> 

    <div class="summonerSpellName" [innerHTML]="summSpellNameContainer">
    </div>

    <img class="summonerSpellSquare" [src]="src">

    <div class="summonerSpell-info" [innerHTML]="summSpellInfoContainer">
    </div>
</div>