.delete-input-container {
    text-align: center;
    border: 5px solid #0c1420;
    border-radius: 15px;
    width: 50%;
    margin: auto;
}

input {
    color: white;
    background-color: #202B43;
    height: 5vmin;
    border-radius: 5px;
    border: 0px solid;
    font-size: 3vmin;
}

input:focus {
    outline: none;
}


#deleteButton {
    font-family: 'Alegreya Sans SC';
    display: inline-block;
    background-color: #df3d52;
    border-radius: 20px;
    color: #eeeeee;
    text-align: center;
    font-size: 2vmin;
    padding: 10px;
    width: 15%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5vmin;
}

#deleteButton:hover {
    background-color: #f05c72;
}