
<div class="search">
    <p class="championName">Enter Champion Name</p>
    <input type="text" [(ngModel)]="championName">

    <button class="searchButton" (click)="search()">Search</button>
</div>  

<div class="championName">
    <h1>{{champion.championName}}</h1>
</div>

<img id="championSplash" class="splash" [src]="src" >

<div class="champion-info">
    <p>{{champion.championDescription}}</p>
    <p>KDA: {{champion.avgKDA}}%</p>
    <p>Win Rate: {{champion.winRate}}%</p>
    <p>Pick Rate: {{champion.pickRate}}%</p>
    <p>Ban Rate: {{champion.banRate}}%</p>
</div>
