
<div class="search">
    <p class="championName">Select Champion</p>
    <select name="champions" id="championName">
        <option *ngFor="let championOption of championsList" value="{{championOption.championName}}">
            {{championOption.championName}}
        </option>
    </select>

    <button class="searchButton" (click)="search()">Search</button>
</div>  

<div class="championName" [innerHTML]="championNameContainer">
</div>

<img id="championSplash" class="splash" [src]="src" >

<div class="champion-info" [innerHTML]="championInfoContainer">
</div>
