<div class="navbar">
    <img id="logo" alt="logo" src="./assets/images/L.png">        

    <div class="subnav">
      <button class="subnavbtn" onclick="window.location.href='/home';" id="home">Home</button>
    </div>
    <div class="subnav">
      <button class="subnavbtn">Champions</button>
      <div class="subnav-content">
        <a routerLink="/championlist">All Champions</a>
        <a routerLink="/championname">Search Champion by Name</a>
        <a routerLink="/championid">Search Champion by ID</a>
      </div>
    </div> 
    <div class="subnav">
      <button class="subnavbtn">Items</button>
      <div class="subnav-content">
        <a routerLink="/itemlist">All Items</a>
        <a routerLink="/itemname">Search Item by Name</a>
        <a routerLink="/itemid">Search Item by ID</a>
      </div>
    </div> 
    <div class="subnav">
        <button class="subnavbtn">Runes</button>
        <div class="subnav-content">
          <a routerLink="/runelist">All Runes</a>
          <a routerLink="/runename">Search Runes by Name</a>
          <a routerLink="/runeid">Search Runes by ID</a>
        </div>
    </div>
    <div class="subnav">
      <button class="subnavbtn">Summoner Spells</button>
        <div class="subnav-content">
            <a routerLink="/summonerspelllist">All Summoner Spells</a>
            <a routerLink="/summonerspellname">Search Summoner Spells by Name</a>
            <a routerLink="/summonerspellid">Search Summoner Spells by ID</a>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">Sets</button>
        <div class="subnav-content">
          <a routerLink="/itemsetlist">Item Sets</a>
          <a routerLink="/runesetlist">Rune Sets</a>
          <a routerLink="/summonerspellsetlist">Summoner Spell Sets</a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>