<div class="navbar">
    <img id="logo" alt="logo" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.clker.com%2Fcliparts%2Fp%2Fb%2FS%2Fj%2Fz%2F3%2Fwhite-letter-l-hi.png&f=1&nofb=1">        

    <div class="subnav">
      <button class="subnavbtn" onclick="window.location.href = '/home';">Home<i class="fa fa-caret-down"></i></button>
    </div>
    <div class="subnav">
      <button class="subnavbtn">Champions<i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
        <a href="/championlist">All Champions</a>
        <a href="/championname">Search Champion by Name</a>
        <a href="/championid">Search Champion by ID</a>
      </div>
    </div> 
    <div class="subnav">
      <button class="subnavbtn">Items<i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
        <a href="/itemlist">All Items</a>
        <a href="/itemname">Search Item by Name</a>
        <a href="/itemid">Search Item by ID</a>
      </div>
    </div> 
    <div class="subnav">
        <button class="subnavbtn">Runes<i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
          <a href="/runelist">All Runes</a>
          <a href="/runename">Search Runes by Name</a>
          <a href="/runeid">Search Runes by ID</a>
        </div>
    </div>
    <div class="subnav">
      <button class="subnavbtn">Summoner Spells<i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
            <a href="/summonerspelllist">All Summoner Spells</a>
            <a href="/summonerspellname">Search Summoner Spells by Name</a>
            <a href="/summonerspellid">Search Summoner Spells by ID</a>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">Sets<i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
          <a href="/itemsetlist">Item Sets</a>
          <a href="/runesetlist">Rune Sets</a>
          <a href="/summonerspellsetlist">Summoner Spell Sets</a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>