<div class="search">
    <p class="itemName">Select Item to search by ID</p>
    <select name="items" id="itemId">
        <option *ngFor="let itemOption of itemsList" value="{{itemOption.itemId}}">
            {{itemOption.itemName}}
        </option>
    </select>
    

    <button (click)="search()" class="searchButton">Search</button>
</div> 

<div class="itemName" [innerHTML]="itemNameContainer">
</div>

<img class="itemSquare" [src]="src">

<div class="item-info" [innerHTML]="itemInfoContainer">
</div>
