<div class="search">
    <p class="itemName">Select Item to search by ID</p>
    <select name="items" [(ngModel)]="itemId">
        <option value="1">Abyssal Mask</option>
        <option value="2">Aegis of the Legion</option>
        <option value="3">Aether Wisp</option>
        <option value="4">Amplifying Tome</option>
        <option value="5">Archangel's Staff</option>
        <option value="6">Ardent Censer</option>
        <option value="7">B.F. Sword</option>
        <option value="8">Bami's Cinder</option>
        <option value="9">Bandleglass Mirror</option>
        <option value="10">Banshee's Veil</option>
        <option value="11">Berzerker's Greaves</option>
        <option value="12">Black Cleaver</option>
        <option value="13">Blade of the Ruined King</option>
        <option value="14">Bloodthirster</option>
        <option value="15">Boots of Swiftness</option>
        <option value="16">Bulwark of the Mountain</option>
        <option value="17">Chempunk Chainsword</option>
        <option value="18">Chemtech Putrifier</option>
        <option value="19">Cosmic Drive</option>
        <option value="20">Dead Man's Plate</option>
        <option value="21">Death's Dance</option>
        <option value="22">Demonic Embrace</option>
        <option value="23">Divine Sunderer</option>
        <option value="24">Duskblade of Darktharr</option>
        <option value="25">Eclipse</option>
        <option value="26">Edge of Night</option>
        <option value="27">Essence Reaver</option>
        <option value="28">Everfrost</option>
        <option value="29">Force of Nature</option>
        <option value="30">Frostfire Gauntlet</option>
        <option value="31">Frozen Heart</option>
        <option value="32">Galeforce</option>
    </select>
    

    <button (click)="search()" class="searchButton">Search</button>
</div> 

<div class="itemName">
    <h2>{{item.itemName}}</h2>
</div>

<img class="itemSquare" [src]="src">

<div class="item-info">
    <p>Description: {{item.itemDescription}}</p>
    <p>Cost: {{item.itemCost}} gold</p>
</div>
