<br>
<div class="create-input-container">
    
    <h1>Create a new Summoner Spell Set</h1>

    <div class="item-group">
        <p>Summoner Spell Set Name</p>
        <input type="text" [(ngModel)]="summonerSpellSetName">
        <p>Summoner Spell 1</p>
        <input id="summonerSpell1" type="number">
    </div>

    <div class="item-group">
        <p>Champion ID</p>
        <input type="number" [(ngModel)]="championId">
        <p>Summoner Spell 2</p>
        <input id="summonerSpell2" type="number">
    </div>

    <br>

    <button (click)="createSummonerSpellSet()" id="createButton">Create</button>
</div>