<div class="image-container">
<img id="garen" alt="garen" class="splash" src="https://wallpapercave.com/wp/wp6208195.jpg">
<p class="caption">Item Sets</p>
</div>

<a href='/createitemset'> 
    <button type="button"> 
        Create Item Set
    </button> 
</a>

<a href='/deleteitemset'> 
    <button type="button"> 
        Delete Item Set
    </button> 
</a>

<a href='/updateitemset'> 
    <button type="button"> 
        Update Item Set
    </button> 
</a>

<app-itemset *ngFor="let itemSet of itemSets" [itemSet]="itemSet">
</app-itemset>
