<br>
<div class="update-input-container">
    
    <h1>Update a Rune Set</h1>

    <div class="row">
        <div class="column">
            <p>Rune Set Name</p>
            <input type="text" [(ngModel)]="runeSetName">
        </div>
        <div class="column">
            <p></p>
        </div>
        <div class="column">
            <p>Champion</p>
            <select name="champions" [(ngModel)]="championId">
                <option value="1">Aatrox</option>
                <option value="2">Ahri</option>
                <option value="3">Akali</option>
                <option value="4">Alistar</option>
                <option value="5">Amumu</option>
                <option value="6">Anivia</option>
                <option value="7">Annie</option>
                <option value="8">Aphelios</option>
                <option value="9">Ashe</option>
                <option value="10">Aurelion Sol</option>
                <option value="11">Azir</option>
                <option value="12">Bard</option>
                <option value="13">Blitzcrank</option>
                <option value="14">Brand</option>
                <option value="15">Braum</option>
                <option value="16">Caitlyn</option>
                <option value="17">Camille</option>
                <option value="18">Cassioppeia</option>
                <option value="19">Corki</option>
                <option value="20">Darius</option>
                <option value="21">Diana</option>
                <option value="22">Dr. Mundo</option>
                <option value="23">Draven</option>
                <option value="24">Ekko</option>
                <option value="25">Elise</option>
                <option value="26">Evelynn</option>
                <option value="27">Ezreal</option>
                <option value="28">Fiddlesticks</option>
                <option value="29">Fiora</option>
                <option value="30">Fizz</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <p>Rune 1</p>
            <select name="runes" id="rune1">
                <option value="1">Press the Attack</option>
                <option value="2">Lethal Tempo</option>
                <option value="3">Fleet Footwork</option>
                <option value="4">Conqueror</option>
                <option value="5">Overheal</option>
                <option value="6">Triumph</option>
                <option value="7">Presence of Mind</option>
                <option value="8">Alacrity</option>
                <option value="9">Tenacity</option>
                <option value="10">Bloodline</option>
                <option value="11">Coup de Grace</option>
                <option value="12">Cut Down</option>
                <option value="13">Last Stand</option>
                <option value="14">Electrocute</option>
                <option value="15">Predator</option>
                <option value="16">Dark Harvest</option>
                <option value="17">Hail of Blades</option>
                <option value="18">Cheap Shot</option>
                <option value="19">Taste of Blood</option>
                <option value="20">Sudden Impact</option>
                <option value="21">Zombie Ward</option>
                <option value="22">Ghost Poro</option>
                <option value="23">Eyeball Collection</option>
                <option value="24">Ravenous Hunter</option>
                <option value="25">Ingenious Hunter</option>
                <option value="26">Relentless Hunter</option>
                <option value="27">Ultimate Hunter</option>
            </select>         
        </div>
        <div class="column">
            <p>Rune 2</p>
            <select name="runes" id="rune2">
                <option value="1">Press the Attack</option>
                <option value="2">Lethal Tempo</option>
                <option value="3">Fleet Footwork</option>
                <option value="4">Conqueror</option>
                <option value="5">Overheal</option>
                <option value="6">Triumph</option>
                <option value="7">Presence of Mind</option>
                <option value="8">Alacrity</option>
                <option value="9">Tenacity</option>
                <option value="10">Bloodline</option>
                <option value="11">Coup de Grace</option>
                <option value="12">Cut Down</option>
                <option value="13">Last Stand</option>
                <option value="14">Electrocute</option>
                <option value="15">Predator</option>
                <option value="16">Dark Harvest</option>
                <option value="17">Hail of Blades</option>
                <option value="18">Cheap Shot</option>
                <option value="19">Taste of Blood</option>
                <option value="20">Sudden Impact</option>
                <option value="21">Zombie Ward</option>
                <option value="22">Ghost Poro</option>
                <option value="23">Eyeball Collection</option>
                <option value="24">Ravenous Hunter</option>
                <option value="25">Ingenious Hunter</option>
                <option value="26">Relentless Hunter</option>
                <option value="27">Ultimate Hunter</option>
            </select> 
        </div>
        <div class="column">
            <p>Rune 3</p>
            <select name="runes" id="rune3">
                <option value="1">Press the Attack</option>
                <option value="2">Lethal Tempo</option>
                <option value="3">Fleet Footwork</option>
                <option value="4">Conqueror</option>
                <option value="5">Overheal</option>
                <option value="6">Triumph</option>
                <option value="7">Presence of Mind</option>
                <option value="8">Alacrity</option>
                <option value="9">Tenacity</option>
                <option value="10">Bloodline</option>
                <option value="11">Coup de Grace</option>
                <option value="12">Cut Down</option>
                <option value="13">Last Stand</option>
                <option value="14">Electrocute</option>
                <option value="15">Predator</option>
                <option value="16">Dark Harvest</option>
                <option value="17">Hail of Blades</option>
                <option value="18">Cheap Shot</option>
                <option value="19">Taste of Blood</option>
                <option value="20">Sudden Impact</option>
                <option value="21">Zombie Ward</option>
                <option value="22">Ghost Poro</option>
                <option value="23">Eyeball Collection</option>
                <option value="24">Ravenous Hunter</option>
                <option value="25">Ingenious Hunter</option>
                <option value="26">Relentless Hunter</option>
                <option value="27">Ultimate Hunter</option>
            </select>         
        </div>
        <div class="column">
            <p></p>
        </div>
        <div class="column">
            <p>Rune 4</p>
            <select name="runes" id="rune4">
                <option value="1">Press the Attack</option>
                <option value="2">Lethal Tempo</option>
                <option value="3">Fleet Footwork</option>
                <option value="4">Conqueror</option>
                <option value="5">Overheal</option>
                <option value="6">Triumph</option>
                <option value="7">Presence of Mind</option>
                <option value="8">Alacrity</option>
                <option value="9">Tenacity</option>
                <option value="10">Bloodline</option>
                <option value="11">Coup de Grace</option>
                <option value="12">Cut Down</option>
                <option value="13">Last Stand</option>
                <option value="14">Electrocute</option>
                <option value="15">Predator</option>
                <option value="16">Dark Harvest</option>
                <option value="17">Hail of Blades</option>
                <option value="18">Cheap Shot</option>
                <option value="19">Taste of Blood</option>
                <option value="20">Sudden Impact</option>
                <option value="21">Zombie Ward</option>
                <option value="22">Ghost Poro</option>
                <option value="23">Eyeball Collection</option>
                <option value="24">Ravenous Hunter</option>
                <option value="25">Ingenious Hunter</option>
                <option value="26">Relentless Hunter</option>
                <option value="27">Ultimate Hunter</option>
            </select>         
        </div>
        <div class="column">
            <p></p>
        </div>
    </div>

    

    <br>

    <button (click)="updateRuneSet()" id="updateButton">Update</button>
</div>
