<span>Rune Set Name</span>
<input type="text" [(ngModel)]="runeSetName">
<span>Champion ID</span>
<input type="number" [(ngModel)]="championId">
<br/>
<span>Runes:</span>
<br/>
<span>Rune 1</span>
<input id="rune1" type="number">
<span>Rune 2</span>
<input id="rune2" type="number">
<span>Rune 3</span>
<input id="rune3" type="number">
<span>Rune 4</span>
<input id="rune4" type="number">
<span>Rune 5</span>
<input id="rune5" type="number">
<span>Rune 6</span>
<input id="rune6" type="number">
<br/>

<button (click)="createRuneSet()">Create</button>
