<br>
<div class="create-input-container">
    
    <h1>Create a new Rune Set</h1>

    <div class="item-group">
        <p>Rune Set Name</p>
        <input type="text" [(ngModel)]="runeSetName">
        <p>Rune 1</p>
        <input id="rune1" type="number">
        <p>Rune 3</p>
        <input id="rune3" type="number">
    </div>

    <div class="item-group">
        <p>Champion ID</p>
        <input type="number" [(ngModel)]="championId">
        <p>Rune 2</p>
        <input id="rune2" type="number">
        <p>Rune 4</p>
        <input id="rune4" type="number">
    </div>

    <br>

    <button (click)="createRuneSet()" id="createButton">Create</button>
</div>
