<br>
<div class="create-input-container">
    
    <h1>Create a new Item Set</h1>
    
    <div class="item-group">
        <p>Item Set Name</p>
        <input type="text" [(ngModel)]="itemSetName" required>
        <p>Item 1</p>
        <select name="items" id="item1" required>
            <option value="1" selected>Abyssal Mask</option>
            <option value="2">Aegis of the Legion</option>
            <option value="3">Aether Wisp</option>
            <option value="4">Amplifying Tome</option>
            <option value="5">Archangel's Staff</option>
            <option value="6">Ardent Censer</option>
            <option value="7">B.F. Sword</option>
            <option value="8">Bami's Cinder</option>
            <option value="9">Bandleglass Mirror</option>
            <option value="10">Banshee's Veil</option>
            <option value="11">Berzerker's Greaves</option>
            <option value="12">Black Cleaver</option>
            <option value="13">Blade of the Ruined King</option>
            <option value="14">Bloodthirster</option>
            <option value="15">Boots of Swiftness</option>
            <option value="16">Bulwark of the Mountain</option>
            <option value="17">Chempunk Chainsword</option>
            <option value="18">Chemtech Putrifier</option>
            <option value="19">Cosmic Drive</option>
            <option value="20">Dead Man's Plate</option>
            <option value="21">Death's Dance</option>
            <option value="22">Demonic Embrace</option>
            <option value="23">Divine Sunderer</option>
            <option value="24">Duskblade of Darktharr</option>
            <option value="25">Eclipse</option>
            <option value="26">Edge of Night</option>
            <option value="27">Essence Reaver</option>
            <option value="28">Everfrost</option>
            <option value="29">Force of Nature</option>
            <option value="30">Frostfire Gauntlet</option>
            <option value="31">Frozen Heart</option>
            <option value="32">Galeforce</option>
        </select>        
        <p>Item 3</p>
        <select name="items" id="item3" required>
            <option value="1">Abyssal Mask</option>
            <option value="2">Aegis of the Legion</option>
            <option value="3" selected>Aether Wisp</option>
            <option value="4">Amplifying Tome</option>
            <option value="5">Archangel's Staff</option>
            <option value="6">Ardent Censer</option>
            <option value="7">B.F. Sword</option>
            <option value="8">Bami's Cinder</option>
            <option value="9">Bandleglass Mirror</option>
            <option value="10">Banshee's Veil</option>
            <option value="11">Berzerker's Greaves</option>
            <option value="12">Black Cleaver</option>
            <option value="13">Blade of the Ruined King</option>
            <option value="14">Bloodthirster</option>
            <option value="15">Boots of Swiftness</option>
            <option value="16">Bulwark of the Mountain</option>
            <option value="17">Chempunk Chainsword</option>
            <option value="18">Chemtech Putrifier</option>
            <option value="19">Cosmic Drive</option>
            <option value="20">Dead Man's Plate</option>
            <option value="21">Death's Dance</option>
            <option value="22">Demonic Embrace</option>
            <option value="23">Divine Sunderer</option>
            <option value="24">Duskblade of Darktharr</option>
            <option value="25">Eclipse</option>
            <option value="26">Edge of Night</option>
            <option value="27">Essence Reaver</option>
            <option value="28">Everfrost</option>
            <option value="29">Force of Nature</option>
            <option value="30">Frostfire Gauntlet</option>
            <option value="31">Frozen Heart</option>
            <option value="32">Galeforce</option>
        </select>        
        <p>Item 5</p>
        <select name="items" id="item5" required>
            <option value="1">Abyssal Mask</option>
            <option value="2">Aegis of the Legion</option>
            <option value="3">Aether Wisp</option>
            <option value="4">Amplifying Tome</option>
            <option value="5" selected>Archangel's Staff</option>
            <option value="6">Ardent Censer</option>
            <option value="7">B.F. Sword</option>
            <option value="8">Bami's Cinder</option>
            <option value="9">Bandleglass Mirror</option>
            <option value="10">Banshee's Veil</option>
            <option value="11">Berzerker's Greaves</option>
            <option value="12">Black Cleaver</option>
            <option value="13">Blade of the Ruined King</option>
            <option value="14">Bloodthirster</option>
            <option value="15">Boots of Swiftness</option>
            <option value="16">Bulwark of the Mountain</option>
            <option value="17">Chempunk Chainsword</option>
            <option value="18">Chemtech Putrifier</option>
            <option value="19">Cosmic Drive</option>
            <option value="20">Dead Man's Plate</option>
            <option value="21">Death's Dance</option>
            <option value="22">Demonic Embrace</option>
            <option value="23">Divine Sunderer</option>
            <option value="24">Duskblade of Darktharr</option>
            <option value="25">Eclipse</option>
            <option value="26">Edge of Night</option>
            <option value="27">Essence Reaver</option>
            <option value="28">Everfrost</option>
            <option value="29">Force of Nature</option>
            <option value="30">Frostfire Gauntlet</option>
            <option value="31">Frozen Heart</option>
            <option value="32">Galeforce</option>
        </select>    
    </div>

    <div class="item-group">
        <p>Champion</p>
        <select name="champions" id="championId" required>
            <option value="1" selected>Aatrox</option>
            <option value="2">Ahri</option>
            <option value="3">Akali</option>
            <option value="4">Alistar</option>
            <option value="5">Amumu</option>
            <option value="6">Anivia</option>
            <option value="7">Annie</option>
            <option value="8">Aphelios</option>
            <option value="9">Ashe</option>
            <option value="10">Aurelion Sol</option>
            <option value="11">Azir</option>
            <option value="12">Bard</option>
            <option value="13">Blitzcrank</option>
            <option value="14">Brand</option>
            <option value="15">Braum</option>
            <option value="16">Caitlyn</option>
            <option value="17">Camille</option>
            <option value="18">Cassioppeia</option>
            <option value="19">Corki</option>
            <option value="20">Darius</option>
            <option value="21">Diana</option>
            <option value="22">Dr. Mundo</option>
            <option value="23">Draven</option>
            <option value="24">Ekko</option>
            <option value="25">Elise</option>
            <option value="26">Evelynn</option>
            <option value="27">Ezreal</option>
            <option value="28">Fiddlesticks</option>
            <option value="29">Fiora</option>
            <option value="30">Fizz</option>
        </select>

        <p>Item 2</p>
        <select name="items" id="item2" required>
            <option value="1">Abyssal Mask</option>
            <option value="2" selected>Aegis of the Legion</option>
            <option value="3">Aether Wisp</option>
            <option value="4">Amplifying Tome</option>
            <option value="5">Archangel's Staff</option>
            <option value="6">Ardent Censer</option>
            <option value="7">B.F. Sword</option>
            <option value="8">Bami's Cinder</option>
            <option value="9">Bandleglass Mirror</option>
            <option value="10">Banshee's Veil</option>
            <option value="11">Berzerker's Greaves</option>
            <option value="12">Black Cleaver</option>
            <option value="13">Blade of the Ruined King</option>
            <option value="14">Bloodthirster</option>
            <option value="15">Boots of Swiftness</option>
            <option value="16">Bulwark of the Mountain</option>
            <option value="17">Chempunk Chainsword</option>
            <option value="18">Chemtech Putrifier</option>
            <option value="19">Cosmic Drive</option>
            <option value="20">Dead Man's Plate</option>
            <option value="21">Death's Dance</option>
            <option value="22">Demonic Embrace</option>
            <option value="23">Divine Sunderer</option>
            <option value="24">Duskblade of Darktharr</option>
            <option value="25">Eclipse</option>
            <option value="26">Edge of Night</option>
            <option value="27">Essence Reaver</option>
            <option value="28">Everfrost</option>
            <option value="29">Force of Nature</option>
            <option value="30">Frostfire Gauntlet</option>
            <option value="31">Frozen Heart</option>
            <option value="32">Galeforce</option>
        </select>
        <p>Item 4</p>
        <select name="items" id="item4" required>
            <option value="1">Abyssal Mask</option>
            <option value="2">Aegis of the Legion</option>
            <option value="3">Aether Wisp</option>
            <option value="4" selected>Amplifying Tome</option>
            <option value="5">Archangel's Staff</option>
            <option value="6">Ardent Censer</option>
            <option value="7">B.F. Sword</option>
            <option value="8">Bami's Cinder</option>
            <option value="9">Bandleglass Mirror</option>
            <option value="10">Banshee's Veil</option>
            <option value="11">Berzerker's Greaves</option>
            <option value="12">Black Cleaver</option>
            <option value="13">Blade of the Ruined King</option>
            <option value="14">Bloodthirster</option>
            <option value="15">Boots of Swiftness</option>
            <option value="16">Bulwark of the Mountain</option>
            <option value="17">Chempunk Chainsword</option>
            <option value="18">Chemtech Putrifier</option>
            <option value="19">Cosmic Drive</option>
            <option value="20">Dead Man's Plate</option>
            <option value="21">Death's Dance</option>
            <option value="22">Demonic Embrace</option>
            <option value="23">Divine Sunderer</option>
            <option value="24">Duskblade of Darktharr</option>
            <option value="25">Eclipse</option>
            <option value="26">Edge of Night</option>
            <option value="27">Essence Reaver</option>
            <option value="28">Everfrost</option>
            <option value="29">Force of Nature</option>
            <option value="30">Frostfire Gauntlet</option>
            <option value="31">Frozen Heart</option>
            <option value="32">Galeforce</option>
        </select>
        <p>Item 6</p>
        <select name="items" id="item6" required>
            <option value="1">Abyssal Mask</option>
            <option value="2">Aegis of the Legion</option>
            <option value="3">Aether Wisp</option>
            <option value="4">Amplifying Tome</option>
            <option value="5">Archangel's Staff</option>
            <option value="6" selected>Ardent Censer</option>
            <option value="7">B.F. Sword</option>
            <option value="8">Bami's Cinder</option>
            <option value="9">Bandleglass Mirror</option>
            <option value="10">Banshee's Veil</option>
            <option value="11">Berzerker's Greaves</option>
            <option value="12">Black Cleaver</option>
            <option value="13">Blade of the Ruined King</option>
            <option value="14">Bloodthirster</option>
            <option value="15">Boots of Swiftness</option>
            <option value="16">Bulwark of the Mountain</option>
            <option value="17">Chempunk Chainsword</option>
            <option value="18">Chemtech Putrifier</option>
            <option value="19">Cosmic Drive</option>
            <option value="20">Dead Man's Plate</option>
            <option value="21">Death's Dance</option>
            <option value="22">Demonic Embrace</option>
            <option value="23">Divine Sunderer</option>
            <option value="24">Duskblade of Darktharr</option>
            <option value="25">Eclipse</option>
            <option value="26">Edge of Night</option>
            <option value="27">Essence Reaver</option>
            <option value="28">Everfrost</option>
            <option value="29">Force of Nature</option>
            <option value="30">Frostfire Gauntlet</option>
            <option value="31">Frozen Heart</option>
            <option value="32">Galeforce</option>
        </select>
    </div>

    <br>

    <button (click)="createItemSet()" id="createButton">Create</button>
</div>


