<br>
<div class="create-input-container">
    
    <h1>Create a new Item Set</h1>
    
    <div class="item-group">
        <p>Item Set Name</p>
        <input type="text" [(ngModel)]="itemSetName">
        <p>Item 1</p>
        <input id="item1" type="number">
        <p>Item 3</p>
        <input id="item3" type="number">
        <p>Item 5</p>
        <input id="item5" type="number">
    </div>

    <div class="item-group">
        <p>Champion ID</p>
        <input type="number" [(ngModel)]="championId">
        <p>Item 2</p>
        <input id="item2" type="number">
        <p>Item 4</p>
        <input id="item4" type="number">
        <p>Item 6</p>
        <input id="item6" type="number">
    </div>

    <br>

    <button (click)="createItemSet()" id="createButton">Create</button>
</div>


