<div class="search">
    <p class="championName">Select Champion to search by ID</p>
    <select name="champions" id="championId">
        <option *ngFor="let champion of championsList" value="{{champion.championId}}">
            {{champion.championName}}
        </option>
    </select>

    <button (click)="search()" class="searchButton">Search</button>
</div>  

<div class="championName" [innerHTML]="championNameContainer">
</div>

<img id="championSplash" class="splash" [src]="src">

<div class="champion-info" [innerHTML]="championInfoContainer">
</div>
