<div class="search">
    <p class="summonerSpellName">Enter Summoner Spell</p>
    <select name="summonerspells" id="summonerSpellName">
        <option *ngFor="let summSpellOption of summonerSpellsList" value="{{summSpellOption.summonerSpellName}}">
            {{summSpellOption.summonerSpellName}}
        </option>
    </select>

    <button (click)="search()" class="searchButton">Search</button>
</div> 

<div class="summonerSpellName" [innerHTML]="summSpellNameContainer">
</div>

<img class="summonerSpellSquare" [src]="src">

<div class="summonerSpell-info" [innerHTML]="summSpellInfoContainer">
</div>